<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>not YT</title>
  </head>
  <body>
    <!-- wizualizacja -->
    <div class="container">
      <!-- box dla boxów -->
      <div class="bar"></div>
      <div class="box-bobox">
        <!-- boxy -->
        <div class="box-vid">
          <div class="video">
            <h1>Space for video content</h1>
          </div>
        </div>
        <div class="also-watch">
          <h1>Also watch:</h1>
          <div class="vid-examples">
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="ex"><h2>space for previews/links</h2></div>
            <div class="more-vid">
              <h2>more</h2>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="Author"></div>
          <hr />
          <div class="content">
            <h3>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam
              ipsa provident dolor. Reiciendis eum, dolore ipsum dolorum nam
              odio vitae vel veritatis voluptatem asperiores dignissimos quidem
              maiores ad accusantium non? Minima blanditiis commodi aspernatur
              saepe, ipsa quidem? Cum sint cumque deleniti similique sit, sequi
              obcaecati soluta quam ipsa, perferendis labore non odit commodi
              repellat dolorem hic et placeat atque reiciendis! Corporis
              temporibus iure illo fugiat fuga maxime aperiam quos nisi? Odit,
              sed officia ipsum iusto quia totam omnis laudantium ea eius. At
              nostrum doloremque porro! Nemo id error perferendis assumenda!
              Vitae ut fugiat officia possimus ad, inventore quas illum itaque.
              Quod praesentium qui nisi officiis maiores modi. Aliquam obcaecati
              dolorem corrupti accusamus saepe recusandae itaque animi deserunt,
              iure reprehenderit accusantium! Ullam id officiis perferendis
              laudantium minima tenetur modi obcaecati sequi soluta saepe quod,
              veritatis eius dolores corrupti at cupiditate. Necessitatibus quos
              quia architecto tenetur nihil labore fugit eos molestias porro.
              Ducimus similique perferendis incidunt eius consequuntur
              repudiandae est ab modi repellendus fuga magni libero, laudantium
              fugiat ratione ipsa nulla. Maiores quidem officia vero vitae
              perferendis, totam dolorum! Dolorem, nostrum minus? Delectus odit
              nostrum molestiae vero velit minima, ipsam atque molestias magni
              quidem iure! Ipsa dolore ullam aliquam voluptatum? Doloribus,
              necessitatibus culpa sed explicabo quasi incidunt. Aliquam
              consectetur doloremque facilis distinctio. Fugit modi dolor
              perspiciatis cum ipsam distinctio eos soluta maiores, recusandae
              perferendis assumenda unde officiis, sint dolorem impedit
              excepturi exercitationem sunt dolorum commodi. Iste consequatur
              earum minus excepturi a suscipit? Quos suscipit tempore ullam
              maxime provident perferendis, deleniti molestias in, libero
              deserunt nisi mollitia dolorum cum aspernatur repellat
              necessitatibus reprehenderit error magnam similique odit
              temporibus debitis est illo? Possimus, error? Impedit nemo quo
              omnis error, dignissimos blanditiis similique laboriosam velit
              rerum adipisci corrupti illum mollitia ipsa ducimus repudiandae in
              odio nisi doloremque voluptates obcaecati! Ipsum voluptatem
              architecto quam ratione? Odio. Distinctio eveniet animi tempore
              nulla ducimus repudiandae hic, odio consectetur ex quo molestiae,
              sequi exercitationem ipsa. Quibusdam nemo officia consequuntur
              illo ullam? Blanditiis ratione ipsam culpa necessitatibus repellat
              harum nobis? Esse, nobis dolorem. Alias rerum labore consequuntur,
              fuga nemo molestiae accusantium vitae et adipisci eius commodi non
              officiis sapiente consectetur omnis iure iste vel at molestias
              illum perferendis. Eaque, omnis? Eius nam quo amet quos dolores,
              sit maxime sapiente quod veritatis dolore cupiditate laboriosam
              excepturi enim labore, adipisci repudiandae ad repellendus
              blanditiis maiores. Hic eius, illo eos possimus quo dicta? Aliquid
              fugit corporis molestiae nisi mollitia, cupiditate eum repellat
              alias doloribus numquam nesciunt laboriosam dolores quaerat
              inventore animi eius, voluptas repudiandae veritatis dolorum
              vitae. Adipisci voluptatem laudantium provident maxime rerum? Quis
              voluptatibus fuga temporibus tenetur. Nisi nemo porro accusamus
              nulla dicta dolor necessitatibus, qui vitae! Quasi illo adipisci
              assumenda esse ullam incidunt consectetur quam, numquam ipsam
              repudiandae, temporibus, repellendus totam! Officia voluptatum
              ipsa velit sequi nostrum reiciendis voluptates ullam quas, sed
              veritatis blanditiis eveniet harum suscipit modi rerum
              consequuntur odio saepe provident, vero iure et in tempora,
              inventore doloribus. Libero. Impedit illum delectus repudiandae
              quas quidem nemo, quisquam culpa hic ad odit qui iusto tempora eos
              cum incidunt facere minima doloremque voluptatibus distinctio.
              Magnam voluptatem corporis fugit sapiente aut eaque. Aliquam
              laudantium quos numquam vitae tempore. Itaque aspernatur error
              ratione quos ducimus et quae quidem? Ducimus, voluptate aut nihil
              dolorum dolore sint? Officiis, odit. Officia necessitatibus
              repudiandae cupiditate atque itaque. Suscipit deleniti quae
              excepturi illum. Illum ea, optio earum necessitatibus modi qui in
              nulla vitae vero ex voluptates maiores doloribus a saepe
              cupiditate sed nam error iure odio. Eos, ut! Voluptatem aut
              incidunt adipisci corporis cum vel dolorem, magnam reprehenderit,
              aspernatur alias optio rem, cupiditate aliquam voluptatum
              praesentium mollitia nesciunt ullam tempora exercitationem.
              Nostrum ad laudantium praesentium quae consequatur vero?
            </h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
