<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>layout A</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <div class="button">
        <button>
          <h1>Login</h1>
        </button>
      </div>
      <div class="item1">
        <h1>Title</h1>
        <br />
        <p>
          &emsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id,
          commodi? Ab atque tempore consequuntur quod dolor eum harum. Tempora
          molestiae atque laudantium error magni. Error, vel adipisci? Facilis,
          vero repellat!
        </p>
      </div>
      <div class="item2">
        <h1>Title</h1>
        <br />
        <p>
          &emsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id,
          commodi? Ab atque tempore consequuntur quod dolor eum harum. Tempora
          molestiae atque laudantium error magni. Error, vel adipisci? Facilis,
          vero repellat!
        </p>
      </div>
      <div class="item3">
        <h1>Title</h1>
        <br />
        <p>
          &emsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id,
          commodi? Ab atque tempore consequuntur quod dolor eum harum. Tempora
          molestiae atque laudantium error magni. Error, vel adipisci? Facilis,
          vero repellat!
        </p>
      </div>
    </div>
  </body>
</html>
