.box {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 1fr 3fr;
  column-gap: 10%;
  row-gap: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.button {
  grid-column-start: 3;
  grid-column-end: 3;
  display: grid;
  align-items: right;
  justify-content: end;
  button {
    color: black;
    background-color: red;
  }
}

.item1 {
  background-color: green;
}

.item2 {
  background-color: yellow;
}

.item3 {
  background-color: blue;
}

p {
  margin: 10%;
}
